<div class="athlete-feed-entry athlete-feed-entry--{{type}} {{#if breaking}}athlete-feed-entry--breaking{{/if}}">
	<div class="athlete-feed-entry__content">
		<div class="athlete-feed-entry__source">
			<span>Resultat fra </span>
			<h4 class="athlete-profile-social-label athlete-profile-social-label--{{type}}">DR Sporten</h4>
		</div>
		<p><span class="athlete-small-portrait"><img src="{{target.portrait}}"></span>{{{data.content}}}</p>
		{{#if data.image}}
			<p class="athlete-feed-entry__content-image">
				<img src="{{data.image}}">
				<a href="#" class="button">Læs på dr.dk</a>
			</p>
		{{/if}}
		{{#if unread}}
			<div class="athlete-feed-entry__new-indicator"></div>
		{{/if}}
		<div class="athlete-feed-entry__time">
			{{time}}
		</div>
	</div>
</div>
