<div class="athlete-profile">
	<div class="swiper-container athlete-gallery athlete-profile-swiper">
		<div class="swiper-wrapper">
			{{#each gallery}}
				<div class="swiper-slide"><div class="athlete-gallery-image"><img src="images/profiles/{{url}}"></div></div>
			{{/each}}
		</div>
		<div class="swiper-pagination"></div>
	</div>

	{{#each meters}}
		{{>athleteMeter}}
	{{/each}}
	<h2 class="name">{{name}}</h2>
	<h3 class="role">{{role}}, {{age}} år</h3>

	<div class="athlete-profile-block">
		<div class="description">{{{formatSocialContent description}}}</div>
	</div>

	{{#if calories}}
		<div class="athlete-profile-block">
			<div class="description description--calories">{{{formatSocialContent calories}}}</div>
			<h4 class="athlete-profile-social-label">Forbrænding</h4>
		</div>
	{{/if}}

	{{#if trophies}}
		<div class="athlete-profile-block">
			<div class="description description--trophies">{{{formatSocialContent trophies}}}</div>
			<h4 class="athlete-profile-social-label">Pokalskab</h4>
		</div>
	{{/if}}

	<div class="athlete-profile-block">
		<div class="map">
			<img src="images/profiles/maps/{{id}}.png">
		</div>
	</div>


	<div class="athlete-profile-block">
		<div class="swiper-container athlete-instagram athlete-profile-swiper">
			<div class="swiper-wrapper">
				{{#each instagram}}
					<div class="swiper-slide">{{>athleteProfileInstagram}}</div>
				{{/each}}
			</div>
			<div class="swiper-pagination"></div>
			<h4 class="athlete-profile-social-label athlete-profile-social-label--instagram">Instagram</h4>
		</div>
	</div>

	{{#if tweets}}
	<div class="athlete-profile-block">
		<div class="swiper-container athlete-twitter athlete-profile-swiper">
			<div class="swiper-wrapper">
				{{#each tweets}}
					{{#if content}}
						<div class="swiper-slide">{{>athleteProfileTweet}}</div>
					{{/if}}
				{{/each}}
			</div>
			<div class="swiper-pagination"></div>
			<h4 class="athlete-profile-social-label athlete-profile-social-label--twitter">Twitter</h4>
		</div>
	</div>
	{{/if}}

	<div class="athlete-profile-block">
		{{>athleteProfileFacebook latestFacebookPost}}
		<h4 class="athlete-profile-social-label athlete-profile-social-label--facebook">Facebook</h4>
	</div>

</div>