<div class="athlete-feed-entry__header">
	<div class="athlete-small-portrait">
		<a href="pages/athlete-profile.html?id={{id}}">
			<img src="images/profiles/small/{{id}}.png">
		</a>
	</div>
	<a href="pages/athlete-profile.html?id={{id}}">
		<b>{{name}}</b> <i>{{roleShort}}</i>
	</a>
</div>
